h1 {
	text-align: center;
}
a {
	color: black;
	text-decoration: none;
}

article {
	border-left: initial !important;
}

.underline {
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

.hidden_print, header#header, aside, footer, a.back-to-top, #cookieChoiceInfo {
	display: none !important;
}